<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div style="align-content: center;">
							<img src="https://toppng.com/public/uploads/preview/starfish-transparent-11547096431edkufenlpw.png" style="width:100px;height:100px;">
						</div>
			<div text-center style="font-family: 'Pacifico', cursive;
	font-size: 4em;">
				Starfish
			</div>
			<div padding>
				<ion-item>
					<ion-input type="text" placeholder="Username"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="password" placeholder="Password"></ion-input>
				</ion-item>
			</div>

			<div padding>
				<ion-button size="large" href="/tabs/tab1" expand="block">Login</ion-button>
				<a href="google.com" style="color: white; margin-top: 10px;">Don't have an account? Register now.</a>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>