<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "secondary">
	<div padding>
	    <div text-center>
	        <ion-title size = "large">
	            Elena currently has 100 Stars!
	          </ion-title>
	    </div>
	</div>
    <ion-card color = "primary">
      <div text-center>
        <ion-title>
            Here are all the creatures you've saved!
          </ion-title>
        </div>

        <div padding>
        	<img src="assets/fish.png">
        	<img src="assets/turtle.png">
        	<img src="assets/whale.png">

        </div>
    </ion-card>
</ion-content>