<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="profile-card">
		<ion-card-title style="margin-top: 20px; margin-left: 20px;">Hey, @lauramasselos!</ion-card-title>
		<ion-img style="height:200px;" src="https://avatars2.githubusercontent.com/u/43954100?s=460&v=4">
		</ion-img>
<ion-item>
  <ion-label>Points</ion-label>
  <ion-badge slot="end" color="warning">1000</ion-badge>
</ion-item>

<ion-item>
  <ion-label>Rank</ion-label>
  <ion-badge slot="end">#14</ion-badge>
</ion-item>

<ion-item>
  <ion-label>Friends</ion-label>
  <ion-badge slot="end" color="success">50</ion-badge>
</ion-item>
	</ion-card>

<ion-card class="profile-card">
	<ion-card-subtitle style="margin-top: 20px; margin-left: 20px; margin-bottom: 20px;">
		Your characters
	</ion-card-subtitle>

</ion-card>



</ion-content>
