<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="profile-card">
		<ion-card-title style="margin-top: 20px; margin-left: 20px; margin-bottom:20px;">Hey, @elenalape!</ion-card-title>
		<ion-img style="height:200px;" src="https://avatars1.githubusercontent.com/u/22844059?s=460&v=4">
		</ion-img>
<ion-item>
  <ion-label>Points</ion-label>
  <ion-badge slot="end" color="warning">1000</ion-badge>
</ion-item>

<ion-item>
  <ion-label>To unlock new</ion-label>
  <ion-badge slot="end" color="light">50</ion-badge>
</ion-item>

<ion-item>
  <ion-label>Rank</ion-label>
  <ion-badge slot="end">#14</ion-badge>
</ion-item>

<ion-item>
  <ion-label>Friends</ion-label>
  <ion-badge slot="end" color="success">50</ion-badge>
</ion-item>
	</ion-card>

<ion-card class="profile-card">
	<ion-card-subtitle style="margin-top: 20px; margin-left: 20px; margin-bottom: 20px;">
		Your characters
	</ion-card-subtitle>

		<ion-img src="https://image.flaticon.com/icons/svg/1717/1717804.svg" style="height:100px;"></ion-img>
		<p style="text-align: center;">Turtle Frank</p>

		<ion-img src="https://image.flaticon.com/icons/svg/1717/1717806.svg" style="height:100px;"></ion-img>
		<p style="text-align: center;">Octopus Blobtocus</p>

				<ion-img src="https://image.flaticon.com/icons/svg/1717/1717812.svg" style="height:100px; filter:brightness(30%);"></ion-img>
		<p style="text-align: center;">Crab Dab (50 points to unlock)</p>


				<ion-img src="https://image.flaticon.com/icons/svg/1717/1717810.svg" style="height:100px; filter:brightness(30%)"></ion-img>
		<p style="text-align: center;">Dolphin Chelsea (500 points to unlock)</p>

</ion-card>



</ion-content>
