<ion-header>
  <ion-toolbar>
    <ion-title>
      Upload photos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-row justify-content-center>

		<ion-card>
  <ion-card-content>
    <p>
    	Take a photo of an area you want to clean up, clean it, and upload a new one.
    </p>
    <p>
    	Each pair of the photos earns you 5 points!
    </p>
  </ion-card-content>
</ion-card>

		<div style="align-content: center;">
	    <ion-button size=large (click)="takeBeforePicture()" color="{{ post1.color }}">
	    	Take before photo
	    </ion-button>
	</div>
	    <p>
	    	<img src="{{ beforephoto }}">
	    </p>

	   	<ion-button size=large (click)="takeAfterPicture()" color="{{ post2.color }}">
	    	Take after photo
	    </ion-button>
	    <div style="padding-top: 50px">
	    <p>
	    	<img src="{{ afterphoto }}">
	    </p>
	</div>
	    <ion-card *ngIf="clicked">
	    	<ion-card-content>
	    	Great! Your image looks like it has been taken in the same location. Your similarity score is 79%.
	    </ion-card-content>
	</ion-card>
	    <div *ngIf="clicked" href="/tab1">
	    	<ion-button>
	    		Submit
	    	</ion-button>
	    </div>
</ion-row>
</ion-content>

<!-- <script src="https://cdnjs.deepai.org/deepai.min.js"></script>
<script>deepai.setApiKey('d69babe1-068f-4fbe-bb48-7bcb06c07f14');

var resp = await deepai.callStandardApi("image-similarity", {
        image1: {{ beforephoto }},
        image2: {{ afterphoto }},
});
alert(resp);</script> -->